div#footer
    a.twitter-follow-button.footerBtn(href="https://twitter.com/twitter" data-show-count="false") Follow &#64;twitter
    div.fb-follow.footerBtn(data-href="https://www.facebook.com/" data-width="100" data-height="20px" data-layout="standard" data-show-faces="false")
    button.footerBtn#instagram-btn Instagram