html
    head
        title The Meadery
        style
            include ../public/styles/main.css
        script
            include ../public/scripts/main.js
    body
        include header
        div#content
        include footer
